.img-roistat{
    height: 450px;
    width: 100%;
    background-image: url('../../../../../../resource/img/sites/settings/roistat/3.png');
    background-repeat: no-repeat;
    background-size: contain;
}