.transform, .before\:translate-x-4::before {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1
}

.shadow-\[0_5px_8px_rgb\(0_0_0_\/_15\%\)\], .shadow-\[0_8px_12px_rgb\(0_0_0_\/_15\%\)\] {
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.inset-x-0 {
  left: 0px;
  right: 0px
}

.bottom-\[-1em\] {
  bottom: -1em
}

.right-0 {
  right: 0px
}

.top-\[-1\.3rem\] {
  top: -1.3rem
}

.top-px {
  top: 1px
}

.m-0 {
  margin: 0px
}

.m-\[1em\] {
  margin: 1em
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px
}

.mx-\[1em\] {
  margin-left: 1em;
  margin-right: 1em
}

.mx-\[3em\] {
  margin-left: 3em;
  margin-right: 3em
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.my-\[1\.7em\] {
  margin-top: 1.7em;
  margin-bottom: 1.7em
}

.mb-0 {
  margin-bottom: 0px
}

.mb-\[1em\] {
  margin-bottom: 1em
}

.mb-\[2em\] {
  margin-bottom: 2em
}

.mb-\[5px\] {
  margin-bottom: 5px
}

.ml-\[0\.3em\] {
  margin-left: 0.3em
}

.ml-\[1em\] {
  margin-left: 1em
}

.ml-\[25px\] {
  margin-left: 25px
}

.ml-\[2em\] {
  margin-left: 2em
}

.mr-0 {
  margin-right: 0px
}

.mr-1 {
  margin-right: 0.25rem
}

.mr-\[0\.35rem\] {
  margin-right: 0.35rem
}

.mt-0 {
  margin-top: 0px
}

.mt-0\.5 {
  margin-top: 0.125rem
}

.mt-\[0\.5em\] {
  margin-top: 0.5em
}

.mt-\[1em\] {
  margin-top: 1em
}

.mt-\[2em\] {
  margin-top: 2em
}

.mt-\[5px\] {
  margin-top: 5px
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.inline-flex {
  display: inline-flex
}

.hidden {
  display: none
}

.h-10 {
  height: 2.5rem
}

.h-2\/5 {
  height: 40%
}

.h-3\/5 {
  height: 60%
}

.h-5 {
  height: 1.25rem
}

.h-6 {
  height: 1.5rem
}

.h-7 {
  height: 1.75rem
}

.h-\[20em\] {
  height: 20em
}

.h-\[30px\] {
  height: 30px
}

.h-\[3em\] {
  height: 3em
}

.h-\[40px\] {
  height: 40px
}

.h-\[45px\] {
  height: 45px
}

.h-\[8em\] {
  height: 8em
}

.h-full {
  height: 100%
}

.max-h-\[45\%\] {
  max-height: 45%
}

.w-14 {
  width: 3.5rem
}

.w-2\/5 {
  width: 40%
}

.w-3\/5 {
  width: 60%
}

.w-5 {
  width: 1.25rem
}

.w-6 {
  width: 1.5rem
}

.w-6\/12 {
  width: 50%
}

.w-7 {
  width: 1.75rem
}

.w-\[10em\] {
  width: 10em
}

.w-\[160px\] {
  width: 160px
}

.w-\[20em\] {
  width: 20em
}

.w-\[30em\] {
  width: 30em
}

.w-\[60em\] {
  width: 60em
}

.w-\[90\%\] {
  width: 90%
}

.w-\[95\%\] {
  width: 95%
}

.w-full {
  width: 100%
}

.min-w-\[28px\] {
  min-width: 28px
}

.min-w-\[56px\] {
  min-width: 56px
}

.min-w-\[90\%\] {
  min-width: 90%
}

.min-w-\[none\] {
  min-width: none
}

.max-w-\[70\%\] {
  max-width: 70%
}

.grow-\[3\] {
  flex-grow: 3
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-auto {
  cursor: auto
}

.cursor-default {
  cursor: default
}

.cursor-grab {
  cursor: grab
}

.cursor-pointer {
  cursor: pointer
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.whitespace-nowrap {
  white-space: nowrap
}

.rounded {
  border-radius: 0.25rem
}

.rounded-\[0\.3em\] {
  border-radius: 0.3em
}

.rounded-\[0\.5em\] {
  border-radius: 0.5em
}

.rounded-\[0_0_4px_4px\] {
  border-radius: 0 0 4px 4px
}

.rounded-\[10px\] {
  border-radius: 10px
}

.rounded-\[4px\] {
  border-radius: 4px
}

.rounded-\[50\%\] {
  border-radius: 50%
}

.rounded-none {
  border-radius: 0px
}

.border {
  border-width: 1px
}

.border-\[0\] {
  border-width: 0
}

.border-\[1px\] {
  border-width: 1px
}

.border-b-0 {
  border-bottom-width: 0px
}

.border-b-2 {
  border-bottom-width: 2px
}

.border-l-0 {
  border-left-width: 0px
}

.border-r-0 {
  border-right-width: 0px
}

.border-r-\[2px\] {
  border-right-width: 2px
}

.border-t-0 {
  border-top-width: 0px
}

.border-solid {
  border-style: solid
}

.border-dashed {
  border-style: dashed
}

.border-none {
  border-style: none
}

.border-\[\#d2d4d8\] {
  --tw-border-opacity: 1;
  border-color: rgb(210 212 216 / var(--tw-border-opacity))
}

.border-\[\#dbdada\] {
  --tw-border-opacity: 1;
  border-color: rgb(219 218 218 / var(--tw-border-opacity))
}

.border-\[\#eaedf3\] {
  --tw-border-opacity: 1;
  border-color: rgb(234 237 243 / var(--tw-border-opacity))
}

.border-transparent {
  border-color: transparent
}

.border-b-\[black\] {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.border-b-black {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.border-r-\[rgba\(0\2c 0\2c 0\2c 0\.1\)\] {
  border-right-color: rgba(0,0,0,0.1)
}

.\!bg-\[\#dbdde0\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(219 221 224 / var(--tw-bg-opacity)) !important
}

.bg-\[\#949494\] {
  --tw-bg-opacity: 1;
  background-color: rgb(148 148 148 / var(--tw-bg-opacity))
}

.bg-\[\#EF7C7C\] {
  --tw-bg-opacity: 1;
  background-color: rgb(239 124 124 / var(--tw-bg-opacity))
}

.bg-\[\#efefef\] {
  --tw-bg-opacity: 1;
  background-color: rgb(239 239 239 / var(--tw-bg-opacity))
}

.bg-\[\#f7f7f7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 247 / var(--tw-bg-opacity))
}

.bg-\[rgba\(102\2c 192\2c 218\2c 0\.2\)\] {
  background-color: rgba(102,192,218,0.2)
}

.bg-\[rgba\(102\2c 192\2c 218\2c 0\.7\)\] {
  background-color: rgba(102,192,218,0.7)
}

.bg-\[rgba\(209\2c 57\2c 128\2c 0\.1\)\] {
  background-color: rgba(209,57,128,0.1)
}

.bg-transparent {
  background-color: transparent
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-\[linear-gradient\(180deg\2c _\#119a22_0\%\2c _\#119a22_100\%\)\] {
  background-image: linear-gradient(180deg, #119a22 0%, #119a22 100%)
}

.bg-\[linear-gradient\(180deg\2c _\#EF7C7C_0\%\2c _\#B85757_100\%\)\] {
  background-image: linear-gradient(180deg, #EF7C7C 0%, #B85757 100%)
}

.bg-cover {
  background-size: cover
}

.bg-\[50\%\] {
  background-position: 50%
}

.p-0 {
  padding: 0px
}

.p-\[10px\] {
  padding: 10px
}

.p-\[1em\] {
  padding: 1em
}

.p-\[5px\] {
  padding: 5px
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.px-2\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-\[0\] {
  padding-left: 0;
  padding-right: 0
}

.px-\[1em\] {
  padding-left: 1em;
  padding-right: 1em
}

.px-\[24px\] {
  padding-left: 24px;
  padding-right: 24px
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px
}

.py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem
}

.py-\[0\.7em\] {
  padding-top: 0.7em;
  padding-bottom: 0.7em
}

.py-\[12px\] {
  padding-top: 12px;
  padding-bottom: 12px
}

.py-\[1em\] {
  padding-top: 1em;
  padding-bottom: 1em
}

.py-\[4px\] {
  padding-top: 4px;
  padding-bottom: 4px
}

.pb-\[1em\] {
  padding-bottom: 1em
}

.pl-4 {
  padding-left: 1rem
}

.pl-\[10px\] {
  padding-left: 10px
}

.pl-\[5px\] {
  padding-left: 5px
}

.pt-\[0\.5em\] {
  padding-top: 0.5em
}

.text-center {
  text-align: center
}

.align-middle {
  vertical-align: middle
}

.text-\[\.875rem\] {
  font-size: .875rem
}

.text-\[0\.8em\] {
  font-size: 0.8em
}

.text-\[1\.2em\] {
  font-size: 1.2em
}

.text-\[1\.3em\] {
  font-size: 1.3em
}

.text-\[1\.7em\] {
  font-size: 1.7em
}

.text-\[16px\] {
  font-size: 16px
}

.text-\[18px\] {
  font-size: 18px
}

.text-\[1em\] {
  font-size: 1em
}

.text-\[2em\] {
  font-size: 2em
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.font-light {
  font-weight: 300
}

.font-normal {
  font-weight: 400
}

.uppercase {
  text-transform: uppercase
}

.italic {
  font-style: italic
}

.leading-\[0\.9\] {
  line-height: 0.9
}

.leading-\[20px\] {
  line-height: 20px
}

.tracking-\[1px\] {
  letter-spacing: 1px
}

.\!text-\[\#000\] {
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity)) !important
}

.text-\[\#69748c\] {
  --tw-text-opacity: 1;
  color: rgb(105 116 140 / var(--tw-text-opacity))
}

.text-\[\#8bcfe3\] {
  --tw-text-opacity: 1;
  color: rgb(139 207 227 / var(--tw-text-opacity))
}

.text-\[\#d13980\] {
  --tw-text-opacity: 1;
  color: rgb(209 57 128 / var(--tw-text-opacity))
}

.text-\[\#fff\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-\[gray\] {
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.no-underline {
  text-decoration-line: none
}

.placeholder-\[\#d8dce5\]::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(216 220 229 / var(--tw-placeholder-opacity))
}

.placeholder-\[\#d8dce5\]::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(216 220 229 / var(--tw-placeholder-opacity))
}

.opacity-0 {
  opacity: 0
}

.opacity-20 {
  opacity: 0.2
}

.opacity-40 {
  opacity: 0.4
}

.shadow-\[0_5px_8px_rgb\(0_0_0_\/_15\%\)\] {
  --tw-shadow: 0 5px 8px rgb(0 0 0 / 15%);
  --tw-shadow-colored: 0 5px 8px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-\[0_8px_12px_rgb\(0_0_0_\/_15\%\)\] {
  --tw-shadow: 0 8px 12px rgb(0 0 0 / 15%);
  --tw-shadow-colored: 0 8px 12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.before\:absolute::before {
  content: var(--tw-content);
  position: absolute
}

.before\:right-\[-5px\]::before {
  content: var(--tw-content);
  right: -5px
}

.before\:top-\[-12px\]::before {
  content: var(--tw-content);
  top: -12px
}

.before\:top-\[-8px\]::before {
  content: var(--tw-content);
  top: -8px
}

.before\:translate-x-4::before {
  content: var(--tw-content);
  --tw-translate-x: 1rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.before\:text-3xl::before {
  content: var(--tw-content);
  font-size: 1.875rem;
  line-height: 2.25rem
}

.before\:font-normal::before {
  content: var(--tw-content);
  font-weight: 400
}

.before\:text-black::before {
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.before\:content-\[\'\+\'\]::before {
  --tw-content: '+';
  content: var(--tw-content)
}

.after\:my-\[4px\]::after {
  content: var(--tw-content);
  margin-top: 4px;
  margin-bottom: 4px
}

.after\:my-\[8px\]::after {
  content: var(--tw-content);
  margin-top: 8px;
  margin-bottom: 8px
}

.after\:ml-\[-4px\]::after {
  content: var(--tw-content);
  margin-left: -4px
}

.after\:block::after {
  content: var(--tw-content);
  display: block
}

.after\:w-full::after {
  content: var(--tw-content);
  width: 100%
}

.after\:border-b-0::after {
  content: var(--tw-content);
  border-bottom-width: 0px
}

.after\:border-dashed::after {
  content: var(--tw-content);
  border-style: dashed
}

.after\:border-b-black::after {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-bottom-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.after\:content-\[\'\'\]::after {
  --tw-content: '';
  content: var(--tw-content)
}

.first-of-type\:mr-\[4em\]:first-of-type {
  margin-right: 4em
}

.hover\:border:hover {
  border-width: 1px
}

.hover\:border-solid:hover {
  border-style: solid
}

.hover\:border-\[\#c5b7b7\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(197 183 183 / var(--tw-border-opacity))
}

.hover\:border-\[\#d5d2d2\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(213 210 210 / var(--tw-border-opacity))
}

.hover\:bg-\[\#eee\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(238 238 238 / var(--tw-bg-opacity))
}

.hover\:bg-\[rgba\(196\2c 196\2c 196\2c 0\.1\)\]:hover {
  background-color: rgba(196,196,196,0.1)
}

.hover\:bg-\[rgba\(209\2c 57\2c 128\2c 0\.1\)\]:hover {
  background-color: rgba(209,57,128,0.1)
}

.hover\:bg-\[linear-gradient\(180deg\2c _\#119a22bb_0\%\2c _\#119a22bb_100\%\)\]:hover {
  background-image: linear-gradient(180deg, #119a22bb 0%, #119a22bb 100%)
}

.hover\:bg-\[linear-gradient\(180deg\2c _\#ff6c6c_0\%\2c _\#c13333_100\%\)\]:hover {
  background-image: linear-gradient(180deg, #ff6c6c 0%, #c13333 100%)
}

.hover\:opacity-100:hover {
  opacity: 1
}

.hover\:opacity-\[10\]:hover {
  opacity: 10
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}