.range-border {
    transition: box-shadow 0.18s cubic-bezier(0.32, 0.63, 0.79, 0.46);
    box-shadow: inset 0px 0px 0px 1px rgba(48, 52, 59, 0.1);
}
.range-border.focused,
.range-border:hover {
    box-shadow: inset 0px 0px 0px 1px rgba(48, 52, 59, 0.2);
}
input {
    border: none;
    background-color: #fff;
}
.colorpicker-button {
    cursor: pointer;
    pointer-events: all;
    border-radius: 5px;
    transition: all 0.2s ease;
    color: #999a9e;
    border: 1px solid transparent;
}
.colorpicker-button.icon-button,
.colorpicker-button[icon] {
    line-height: 0;
}
.colorpicker-button.icon-button.hover-border:not(.active):hover,
.colorpicker-button[icon].hover-border:not(.active):hover {
    border: 1px solid rgba(48, 52, 59, 0.1);
}
.colorpicker-button.icon-button:hover,
.colorpicker-button[icon]:hover {
    color: #30343b;
}
.colorpicker-button.icon-button.disabled,
.colorpicker-button[icon].disabled {
    background-color: #f4f6f5;
    pointer-events: none;
    cursor: default;
}
.colorpicker-button.icon-button.small .colorpicker-icon,
.colorpicker-button[icon].small .colorpicker-icon {
    margin: 5px;
}
.colorpicker-button[text] {
    text-align: center;
    padding: 6px 14px;
}
.colorpicker-button.small-icon .colorpicker-icon {
    width: 14px;
    height: 14px;
}
.colorpicker-button.tab {
    color: rgba(48, 52, 59, 0.4);
    padding: 8px 6px;
    font-weight: 500;
}
.colorpicker-button.tab:last-child {
    margin-right: 0;
}
.colorpicker-button.tab:hover {
    color: #30343b;
}
.colorpicker-button.bordered {
    box-shadow: inset 0 0 0 1px rgba(48, 52, 59, 0.1);
}
.colorpicker-button.bordered:hover {
    background-color: rgba(48, 52, 59, 0.05);
}
.colorpicker-button.active {
    color: #30343b;
}
.colorpicker-button.active.fill {
    background: #f4f6f5;
}
.colorpicker-button.active:hover {
    color: #000;
}
.remove-color {
    opacity: 0;
    margin-left: auto;
    transition: none;
}
.remove-color .colorpicker-icon {
    width: 12px;
    height: 12px;
}
.remove-color:hover {
    opacity: 0.85;
}
.apply-button {
    margin: 0 15px;
    color: #fff;
    background: #119a22;
}
.apply-button:hover {
    opacity: 0.85;
}
.colorpicker-icon {
    line-height: 0;
    margin: 6px;
    width: 16px;
    height: 16px;
}
.flexbe-colorpicker {
    border-radius: 5px;
    padding: 0 0 15px;
    width: 100%;
    overflow: hidden;
}
.flexbe-colorpicker * {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.flexbe-colorpicker.not-draggable .colorpicker-head {
    cursor: default;
}
.flexbe-colorpicker hr {
    background: #30343b;
    margin: 0 15px;
}
.colorpicker-head {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 42px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: all-scroll;
}
.colorpicker-head .button-line {
    gap: 4px;
}
.colorpicker-title {
    font-weight: 500;
}
.colorpicker-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
}
.colorpicker-dot:after,
.colorpicker-dot:before {
    position: absolute;
    transition: opacity 0.05s ease;
}
.colorpicker-dot:before {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23a)'%3E%3Cmask id='b' maskUnits='userSpaceOnUse' x='2' y='2' width='12' height='12' fill='%23000'%3E%3Cpath fill='%23fff' d='M2 2h12v12H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'/%3E%3C/mask%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6z' fill='%23fff'/%3E%3Cpath d='M12.7 8A4.7 4.7 0 0 1 8 12.7v.6A5.3 5.3 0 0 0 13.3 8h-.6zM8 3.3A4.7 4.7 0 0 1 12.7 8h.6A5.3 5.3 0 0 0 8 2.7v.6zM3.3 8A4.7 4.7 0 0 1 8 3.3v-.6A5.3 5.3 0 0 0 2.7 8h.6zM8 12.7A4.7 4.7 0 0 1 3.3 8h-.6A5.3 5.3 0 0 0 8 13.3v-.6zM10.7 8A2.7 2.7 0 0 1 8 10.7v.6A3.3 3.3 0 0 0 11.3 8h-.6zM8 5.3A2.7 2.7 0 0 1 10.7 8h.6A3.3 3.3 0 0 0 8 4.7v.6zM5.3 8A2.7 2.7 0 0 1 8 5.3v-.6A3.3 3.3 0 0 0 4.7 8h.6zM8 10.7A2.7 2.7 0 0 1 5.3 8h-.6A3.3 3.3 0 0 0 8 11.3v-.6z' fill='%23000' fill-opacity='.15' mask='url(%23b)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' x='.7' y='.7' width='14.6' height='14.6' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    opacity: 1;
}
.colorpicker-dot:after {
    content: "";
    display: block;
    top: 1px;
    left: 1px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    opacity: 0;
    border: 1px solid rgba(48, 52, 59, 0.3);
}
.colorpicker-dot.large {
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-left: -6px;
}
.colorpicker-dot.large:before {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='5' stroke='%23fff' stroke-opacity='.9' stroke-width='2' filter='url(%23a)'/%3E%3Cdefs%3E%3Cfilter id='a' x='0' y='0' width='22' height='22' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='2.5'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    top: -5px;
    left: -5px;
}
.colorpicker-dot.large:after {
    width: 8px;
    height: 8px;
}
.colorpicker-dot:not(.active).fill:before {
    opacity: 0;
}
.colorpicker-dot:not(.active).fill:after {
    opacity: 1;
}
.colorpicker-dot.active {
    z-index: 2;
}
.colorpicker-range {
    height: 12px;
    width: 100%;
    border-radius: 59px;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
}
.colorpicker-range .colorpicker-dot {
    top: 50%;
    margin-left: 0;
}
.colorpicker-range:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAHUlEQVR4AWMAAkls2L3AhwEbHpkacEjgNGhEagAA21lP4SjktbIAAAAASUVORK5CYII=");
    background-size: 4px;
    background-repeat: repeat;
    border-radius: inherit;
    overflow: hidden;
}
.colorpicker-range:not(:last-child) {
    margin-bottom: 10px;
}
.colorpicker-range.opacity {
    background: linear-gradient(90deg, rgba(211, 31, 63, 0), #d31f3f);
    transition: box-shadow 0.18s cubic-bezier(0.32, 0.63, 0.79, 0.46);
    box-shadow: inset 0px 0px 0px 1px rgba(48, 52, 59, 0.1);
}
.colorpicker-range.opacity.focused,
.colorpicker-range.opacity:hover {
    box-shadow: inset 0px 0px 0px 1px rgba(48, 52, 59, 0.2);
}
.colorpicker-range.spectrum {
    background: linear-gradient(
        -90deg,
        red,
        #ff00ec 18.9%,
        #0018ff 35.94%,
        #00fbff 52.57%,
        #00ff1a 68.83%,
        #ff0 84.67%,
        red
    );
    background-size: 100% 100%;
}
.colorpicker-range.fillability {
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: visible;
    transition: box-shadow 0.18s cubic-bezier(0.32, 0.63, 0.79, 0.46);
    box-shadow: inset 0px 0px 0px 1px rgba(48, 52, 59, 0.1);
}
.colorpicker-range.fillability.focused,
.colorpicker-range.fillability:hover {
    box-shadow: inset 0px 0px 0px 1px rgba(48, 52, 59, 0.2);
}
.colorpicker-range.fillability .colorpicker-dot {
    transition: transform 0.18s ease;
}
.colorpicker-range.fillability .colorpicker-dot:before {
    opacity: 1;
}
.colorpicker-range.fillability .colorpicker-dot:after {
    opacity: 0;
}
.colorpicker-range.fillability .colorpicker-dot.active {
    transform: scale(2.2);
}
.colorpicker-range.fillability .colorpicker-dot.active:before {
    content: "";
    left: 0;
    top: 0;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAHUlEQVR4AWMAAkls2L3AhwEbHpkacEjgNGhEagAA21lP4SjktbIAAAAASUVORK5CYII=");
    background-size: 3px;
    background-repeat: repeat;
    background-position: calc(var(--offset, 0) * -0.5);
}
.colorpicker-range.fillability .colorpicker-dot.active:after {
    box-shadow: none;
    border: none;
    opacity: 1;
    width: 8px;
    height: 8px;
    background-color: var(--activeColor);
}
.colorpicker-range,
.colorpicker-spectrum {
    position: relative;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.colorpicker-spectrum {
    position: relative;
    width: 230px;
    height: 180px;
    background-image: linear-gradient(0deg, #000, transparent),
        linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0));
    background-size: 100% 100%;
    cursor: crosshair;
    transition: all 0.15s;
    margin-bottom: 15px;
}
.colorpicker-input {
    height: 28px;
    transition: border 0.18s;
    border-radius: 5px;
}
.colorpicker-input-wrap {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: text;
    position: relative;
}
.colorpicker-input .colorpicker-prefix,
.colorpicker-input .colorpicker-suffix {
    color: rgba(48, 52, 59, 0.5);
    z-index: 10;
    line-height: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.colorpicker-input .colorpicker-prefix {
    margin-left: 10px;
    margin-right: 2px;
}
.colorpicker-input .colorpicker-suffix {
    margin-right: 10px;
    margin-left: 2px;
}
.colorpicker-input input {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 5px;
}
.colorpicker-input.bordered {
    border: 1px solid rgba(48, 52, 59, 0.1);
}
.colorpicker-input.bordered:not(.focused):not(.error):hover {
    border-color: #cbccce;
}
.colorpicker-input.bordered.focused {
    border-color: #119a22;
}
.colorpicker-input.bordered.error {
    border-color: #ff4747;
}
.colorpicker-color-input {
    position: relative;
    flex-grow: 1;
    min-width: 148px;
    height: 28px;
}
.colorpicker-color-input-wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #eaebeb;
    border-radius: 5px;
    background-color: #fff;
    transition: border 0.18s cubic-bezier(0.32, 0.63, 0.79, 0.46);
}
.colorpicker-color-input-wrap > div {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    transition: inherit;
    border-right: 1px solid #eaebeb;
}
.colorpicker-color-input-wrap > div:last-child {
    border-color: transparent;
}
.colorpicker-color-input-wrap .colorpicker-input {
    flex-grow: 1;
    height: 100%;
    width: 50px;
}
.colorpicker-color-input-wrap input {
    background-color: transparent;
}
.colorpicker-color-input-color {
    justify-content: space-between;
}
.colorpicker-color-input-color input {
    padding-left: 10px;
    text-transform: uppercase;
}
.colorpicker-color-input-opacity {
    max-width: 54px;
}
.colorpicker-color-input-opacity .colorpicker-input input {
    text-align: right;
}
.colorpicker-color-input-list .colorpicker-preview {
    cursor: all-scroll;
}
.colorpicker-color-input-drag {
    background-color: #fff;
    border-radius: 5px;
}
.colorpicker-color-input-placeholder {
    opacity: 0.2;
}
.colorpicker-color-input-placeholder .colorpicker-color-input-wrap,
.colorpicker-color-input-placeholder
    .colorpicker-color-input-wrap
    > div:not(:last-child) {
    border-color: #d4d4d4;
}
.colorpicker-color-input:not(.focused):not(.error):hover
    .colorpicker-color-input-wrap,
.colorpicker-color-input:not(.focused):not(.error):hover
    .colorpicker-color-input-wrap
    > div:not(:last-child) {
    border-color: #cbccce;
}
.colorpicker-color-input.focused .colorpicker-color-input-wrap,
.colorpicker-color-input.focused
    .colorpicker-color-input-wrap
    > div:not(:last-child) {
    border-color: #119a22;
}
.colorpicker-color-input.error .colorpicker-color-input-wrap,
.colorpicker-color-input.error
    .colorpicker-color-input-wrap
    > div:not(:last-child) {
    border-color: #ff4747;
}
.colorpicker-color-input.unactive .colorpicker-color-input-wrap {
    background-color: rgba(48, 52, 59, 0.03);
}
.colorpicker-color-input.active .colorpicker-preview:after {
    opacity: 1;
}
.colorpicker-color-input.contrast-color
    .colorpicker-color-input-color
    .colorpicker-input-wrap {
    cursor: text;
}
.colorpicker-color-input.contrast-color input {
    pointer-events: none;
}
.colorpicker-preview {
    margin-left: 2px;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 4px;
    position: relative;
}
.colorpicker-preview span {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    position: relative;
    z-index: 2;
    box-shadow: inset 0px 0px 0px 1px rgba(48, 52, 59, 0.15);
}
.colorpicker-preview:after {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='6' height='6' rx='3' fill='%23fff'/%3E%3Crect x='.5' y='.5' width='7' height='7' rx='3.5' stroke='%23000' stroke-opacity='.1'/%3E%3C/svg%3E");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    transition: opacity 0.1s cubic-bezier(0.32, 0.63, 0.79, 0.46);
    opacity: 0;
    z-index: 2;
}
.colorpicker-preview:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: inherit;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAHUlEQVR4AWMAAkls2L3AhwEbHpkacEjgNGhEagAA21lP4SjktbIAAAAASUVORK5CYII=");
    background-size: 4px;
    background-repeat: repeat;
}
.colorpicker-color-preview {
    margin: 0 8px;
}
.colorpicker-color-preview .colorpicker-prefix {
    margin-right: 3px;
    opacity: 0.5;
}
.colorpicker-color-preview .colorpicker-text {
    text-transform: uppercase;
}
.colorpicker-opacity-preview {
    opacity: 0.5;
}
.colorpicker-opacity-preview .colorpicker-suffix {
    margin-left: 1px;
}
.colorpicker-colors {
    margin: 0 15px 15px;
}
.colorpicker-colors.full .add-color {
    display: none;
}
.colorpicker-list-shot {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin: -5px;
    position: relative;
}
.colorpicker-color-item {
    position: relative;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: inset 0 0 2px rgba(48, 52, 59, 0.3);
    cursor: pointer;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAHUlEQVR4AWMAAkls2L3AhwEbHpkacEjgNGhEagAA21lP4SjktbIAAAAASUVORK5CYII=");
    background-size: 4px;
    background-repeat: repeat;
}
.colorpicker-color-item span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0px 0px 0px 1px rgba(48, 52, 59, 0.15);
}
.colorpicker-color-item:after,
.colorpicker-color-item:before {
    transition: all 0.1s cubic-bezier(0.32, 0.63, 0.79, 0.46);
}
.colorpicker-color-item.added:before {
    transition-delay: 1s;
}
.colorpicker-color-item:before {
    content: "";
    position: absolute;
    display: block;
    top: -2px;
    left: -2px;
    height: 22px;
    width: 22px;
    border: 1px solid transparent;
    border-radius: 50%;
}
.colorpicker-color-item-icon {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.colorpicker-color-item-icon svg {
    width: 10px;
    height: 10px;
}
.colorpicker-color-item-title {
    color: #000;
}
.colorpicker-color-item.active:before {
    border: 1px solid #119a22;
}
.colorpicker-color-item.add-color {
    color: #fff;
    margin-left: auto;
    opacity: 1;
    pointer-events: all;
}
.colorpicker-color-item.add-color:hover:before {
    border: 1px solid rgba(48, 52, 59, 0.2);
}
.colorpicker-color-item.add-color.hide {
    opacity: 0;
    pointer-events: none;
}
.colorpicker-color-item.add-color.dark {
    color: #4e4e4e;
}
.colorpicker-favorite-button {
    padding: 1px;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: none;
    border-radius: 50%;
    position: relative;
    z-index: 1005;
    color: #9e9fa3;
}
.colorpicker-favorite-button.active {
    color: #30343b;
}
.colorpicker-favorite-button .colorpicker-icon {
    margin: 5px;
    width: 8px;
    height: 8px;
}
.colorpicker-favorite-control {
    display: flex;
    margin-left: auto;
}
.colorpicker-favorite {
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
}
.colorpicker-favorite-list {
    padding-bottom: 5px;
}
.colorpicker-favorite-item {
    display: flex;
    align-items: center;
    padding: 7px 10px 7px 0;
    cursor: pointer;
}
.colorpicker-favorite-item.active {
    cursor: default;
}
.colorpicker-favorite-item * {
    font-size: 13px;
}
.colorpicker-favorite-item:not(.field-list__sortable-item):hover,
.colorpicker-favorite-item:not(.field-list__sortable-item):hover input {
    background-color: #f5f5f5;
}
.colorpicker-favorite-item:not(.field-list__sortable-item):hover
    .colorpicker-favorite-draggable:before {
    opacity: 1;
}
.colorpicker-favorite-item:not(.field-list__sortable-item):hover .remove-color {
    opacity: 0.3;
}
.colorpicker-favorite-item.field-list__sortable-drag
    .colorpicker-favorite-draggable:before {
    opacity: 1;
}
.colorpicker-favorite-item.field-list__sortable-chosen * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.colorpicker-favorite-draggable {
    padding-left: 15px;
    cursor: all-scroll;
    position: relative;
    margin-right: 2px;
}
.colorpicker-favorite-draggable:before {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='5' height='9' viewBox='0 0 5 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.3' fill-rule='evenodd' clip-rule='evenodd' d='M0 0h5v1H0V0zm0 4h5v1H0V4zm5 4H0v1h5V8z' fill='%2330343B'/%3E%3C/svg%3E");
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    opacity: 0;
}
.colorpicker-favorite-draggable .colorpicker-color-item {
    cursor: all-scroll;
    margin: 0;
}
.colorpicker-favorite-gradient-wrap {
    display: flex;
    align-items: center;
}
.colorpicker-favorite-color {
    width: 77px;
}
.colorpicker-favorite-color input {
    text-transform: uppercase;
    padding: 3px;
}
.colorpicker-favorite-color:not([suffix]):not([prefix]) {
    width: 49px;
    margin-left: 6px;
}
.colorpicker-favorite-opacity {
    width: 50px;
    position: relative;
}
.colorpicker-favorite-opacity input {
    color: rgba(48, 52, 59, 0.5);
    text-align: right;
}
.colorpicker-favorite-footer {
    padding: 10px;
    display: flex;
    align-items: center;
}
.colorpicker-favorite-add {
    padding: 5px;
    display: flex;
    align-items: center;
    transition: all 0.2s cubic-bezier(0.32, 0.63, 0.79, 0.46);
    cursor: pointer;
}
.colorpicker-favorite-add-text {
    opacity: 0.8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.colorpicker-favorite-add .colorpicker-color-item {
    margin: 0 10px 0 0;
}
.colorpicker-favorite-add .colorpicker-color-item:before {
    border: none !important;
}
.colorpicker-favorite-add.disabled {
    opacity: 0.5;
    cursor: default;
}
.colorpicker-favorite-add.disabled > * {
    cursor: default;
}
.colorpicker-favorite-add:not(.disabled):hover .colorpicker-favorite-add-text {
    opacity: 1;
}
.colorpicker-favorite .colorpicker-head {
    padding: 15px 15px 10px;
}
.colorpicker-favorite .colorpicker-head .colorpicker-button {
    margin-right: -6px;
}
.colorpicker-favorite .colorpicker-head .flexbe-loader {
    width: 14px;
    height: 14px;
    margin-left: 7px;
    margin-right: auto;
}
.colorpicker-favorite .colorpicker-favorite-button {
    margin: 5px;
}
.colorpicker-favorite hr {
    background: #30343b;
    margin: 0 15px;
}
.colorpicker-tabs-list {
    margin: -8px -6px;
    display: flex;
    cursor: default;
}
.color-tab,
.gradient-tab,
.ranges-line {
    margin: 0 15px 15px;
}
.button-line,
.input-line {
    display: flex;
    gap: 6px;
}
.gradient-params,
.gradient-params-direction {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gradient-params-direction {
    flex-grow: 1;
}
.gradient-params-angle {
    margin-left: 12px;
    width: 46px;
}
.gradient-params-angle input {
    text-align: right;
}
.gradient-params-angle .colorpicker-suffix {
    margin-left: 1px;
}
.colorpicker-palette {
    position: relative;
    z-index: 1003;
    border-radius: calc(5px - 2px);
    overflow: hidden;
}
.colorpicker-palette * {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.colorpicker-palette-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: baseline;
    animation: 0.3s fadeIn;
    background: #fff;
}
.colorpicker-palette-item-wrapper {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.1s cubic-bezier(0.32, 0.63, 0.79, 0.46);
    color: #fff;
}
.colorpicker-palette-item-wrapper svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 3;
}
.colorpicker-palette-item-wrapper:not(.selected):hover {
    z-index: 5;
}
.colorpicker-palette-item-wrapper.selected {
    cursor: default;
}
.colorpicker-palette-item-wrapper.selected svg {
    opacity: 1;
}
.colorpicker-palette-item-wrapper.dark {
    color: #7b7b7b;
}
.colorpicker-palette-item {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.colorpicker-palette-item-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAHUlEQVR4AWMAAkls2L3AhwEbHpkacEjgNGhEagAA21lP4SjktbIAAAAASUVORK5CYII=");
    background-size: 9.5px;
    background-repeat: repeat;
}
.colorpicker-palette.color .colorpicker-palette-item-wrapper {
    height: 28px;
    width: 28px;
}
.colorpicker-palette.color
    .colorpicker-palette-item-wrapper:not(.selected):hover {
    transform: scale(1.15);
    box-shadow: 0 2px 15px 0 rgba(57, 68, 71, 0.25);
}
.colorpicker-palette.gradient .colorpicker-palette-list {
    padding: 0 10px;
}
.colorpicker-palette.gradient .colorpicker-palette-item-wrapper {
    min-width: 40%;
    height: 30px;
    margin: 5px;
    flex-grow: 1;
    border-radius: 5px;
}
.colorpicker-palette.gradient
    .colorpicker-palette-item-wrapper:not(.selected):hover {
    transform: scale(1.05);
    box-shadow: 0 2px 15px 0 rgba(57, 68, 71, 0.1);
}
.colorpicker-palette.gradient .colorpicker-palette-list {
    height: 338px;
}
.colorpicker-favorite-modal {
    border-radius: 0 !important;
    box-shadow:
        0px 0px 1px rgba(136, 152, 170, 0.1),
        0px 15px 35px rgba(49, 49, 49, 0.1),
        0px 15px 15px rgba(0, 0, 0, 0.08) !important;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.tooltipster-base {
    display: flex;
    pointer-events: none;
    position: absolute;
    padding: 0 10px;
}
.tooltipster-content {
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
}
.tooltipster-ruler {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
}
.tooltipster-box {
    flex: 1 1 auto;
}
.tooltipster-fade {
    opacity: 0;
    transition-property: opacity;
}
.tooltipster-fade.tooltipster-show {
    opacity: 1;
}
.tooltipster-fall {
    opacity: 0;
    transition-property: opacity, transform;
}
.tooltipster-fall.tooltipster-top {
    transform: translateY(3px);
}
.tooltipster-fall.tooltipster-bottom {
    transform: translateY(-3px);
}
.tooltipster-fall.tooltipster-left {
    transform: translateX(3px);
}
.tooltipster-fall.tooltipster-right {
    transform: translateX(-3px);
}
.tooltipster-fall.tooltipster-show {
    transform: translateZ(0);
    opacity: 1;
}
@keyframes tooltipster-fading {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.tooltipster-update-fade {
    animation: tooltipster-fading 400ms;
}
@keyframes tooltipster-rotating {
    25% {
        transform: rotate(-2deg);
    }
    75% {
        transform: rotate(2deg);
    }
    to {
        transform: rotate(0);
    }
}
.tooltipster-update-rotate {
    animation: tooltipster-rotating 600ms;
}
@keyframes tooltipster-scaling {
    50% {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}
.tooltipster-update-scale {
    animation: tooltipster-scaling 600ms;
}
.tooltipster-box {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(82, 95, 99, 0.25);
    position: relative;
}
.tooltipster-bottom .tooltipster-box {
    top: 6px;
}
.tooltipster-left,
.tooltipster-right {
    padding: 10px 0;
}
.tooltipster-left .tooltipster-box {
    right: 6px;
}
.tooltipster-right .tooltipster-box {
    left: 6px;
}
.tooltipster-top .tooltipster-box {
    bottom: 6px;
}
.tooltipster-content {
    color: #30343b;
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    padding: 10px 15px;
}
.tooltipster-arrow {
    overflow: hidden;
    position: absolute;
}
.tooltipster-bottom .tooltipster-arrow {
    top: 0;
}
.tooltipster-left .tooltipster-arrow {
    right: 0;
    top: 0;
}
.tooltipster-right .tooltipster-arrow {
    left: 0;
    top: 0;
}
.tooltipster-top .tooltipster-arrow {
    bottom: 0;
}
.tooltipster-arrow-background {
    border: 6px solid transparent;
}
.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #fff;
    left: 0;
    top: 1px;
}
.tooltipster-left .tooltipster-arrow-background {
    border-left-color: #fff;
    left: -1px;
    top: 0;
}
.tooltipster-right .tooltipster-arrow-background {
    border-right-color: #fff;
    left: 1px;
    top: 0;
}
.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #fff;
    left: 0;
    top: -1px;
}
.tooltipster-arrow-border {
    border: 10px solid transparent;
    left: 0;
    top: 0;
}
.tooltipster-arrow-uncropped {
    position: relative;
}
.tooltipster-arrow {
    height: 6px;
    margin-left: -6px;
    width: 12px;
}
.tooltipster-left .tooltipster-arrow,
.tooltipster-right .tooltipster-arrow {
    height: 12px;
    margin-left: 0;
    margin-top: -6px;
    width: 6px;
}
.tooltipster-arrow-background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.tooltipster-arrow-border {
    border: 6px solid transparent;
}
.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: #fff;
}
.tooltipster-left .tooltipster-arrow-border {
    border-left-color: #fff;
}
.tooltipster-right .tooltipster-arrow-border {
    border-right-color: #fff;
}
.tooltipster-top .tooltipster-arrow-border {
    border-top-color: #fff;
}
.tooltipster-bottom .tooltipster-arrow-uncropped {
    top: -6px;
}
.tooltipster-right .tooltipster-arrow-uncropped {
    left: -6px;
}
.tooltipster-dark .tooltipster-box {
    background: #16151c;
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.3);
    border-radius: 5px;
    position: relative;
}
.tooltipster-dark .tooltipster-content {
    color: #fff;
    padding: 6px 10px;
}
.tooltipster-dark.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: hsla(0, 0%, 100%, 0.3);
}
.tooltipster-dark.tooltipster-left .tooltipster-arrow-border {
    border-left-color: hsla(0, 0%, 100%, 0.3);
}
.tooltipster-dark.tooltipster-right .tooltipster-arrow-border {
    border-right-color: hsla(0, 0%, 100%, 0.3);
}
.tooltipster-dark.tooltipster-top .tooltipster-arrow-border {
    border-top-color: hsla(0, 0%, 100%, 0.3);
}
.tooltipster-dark .tooltipster-arrow-background {
    display: block;
}
.tooltipster-dark.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #16151c;
}
.tooltipster-dark.tooltipster-left .tooltipster-arrow-background {
    border-left-color: #16151c;
}
.tooltipster-dark.tooltipster-right .tooltipster-arrow-background {
    border-right-color: #16151c;
}
.tooltipster-dark.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #16151c;
}
.toast-wrapper {
    position: fixed;
    z-index: 50000;
    display: flex;
    flex-flow: column;
    pointer-events: none;
}
.toast-wrapper[position="bottom-right"] {
    bottom: 23px;
    right: 30px;
    align-items: flex-end;
}
.toast-wrapper[position="top-center"] {
    top: 23px;
    right: 30px;
    left: 30px;
}
.toast-wrapper * {
    box-sizing: border-box;
}
.toast-item {
    display: none;
    font-size: 13px;
    line-height: 20px;
    pointer-events: all;
    flex-grow: 0;
    flex-shrink: 0;
    transform: translateX(30px);
    opacity: 0;
    visibility: hidden;
}
.toast-item.toast-item--display {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.toast-item.toast-item--show {
    transform: translateZ(0);
    opacity: 1;
    visibility: visible;
    transition:
        transform 0.35s cubic-bezier(0.1, 1.04, 0.42, 1.4),
        opacity 0.3s ease,
        visibility 0.3s ease;
}
.toast-item.toast-item--hide {
    height: 0;
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.toast-container {
    display: flex;
    align-items: stretch;
    min-height: 40px;
    max-width: 400px;
    margin: 7px 0;
    color: #fff;
    background: #2c2c2c;
    box-shadow: 0 7px 12px rgba(50, 50, 60, 0.08);
    border-radius: 5px;
}
.toast-container--content {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 80px;
    padding: 11px 15px;
    margin-right: auto;
    cursor: default;
}
.toast-container--action {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.4px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: -15px;
    padding: 10px 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.toast-container--action span {
    opacity: 0.5;
    transition: opacity 0.18s;
    will-change: opacity;
    transform: translateZ(0);
}
.toast-container--action:hover span {
    opacity: 1;
}
.toast-container--close {
    flex-shrink: 0;
    width: 40px;
    margin-left: -15px;
    position: relative;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.18s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.toast-container--close:hover {
    opacity: 1;
}
.toast-container--close:after,
.toast-container--close:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 1px;
    top: 50%;
    left: 13px;
    background-color: currentColor;
}
.toast-container--close:before {
    transform: rotate(45deg);
}
.toast-container--close:after {
    transform: rotate(-45deg);
}
.toast-item-error .toast-container {
    background: #ff6c6c;
}
.toast-item-error .toast-container--action {
    border-color: hsla(0, 0%, 100%, 0.1);
}
.toast-item-error .toast-container--action span {
    opacity: 0.75;
}
.toast-item-error .toast-container--action:hover span {
    opacity: 1;
}
.toast-item-error .toast-container--close {
    opacity: 0.75;
}
.toast-item-error .toast-container--close:hover {
    opacity: 1;
}
